<p id="notice"><%= notice %></p>

<h2> An email has been sent to the seller of this house. <br>
Please wait for the seller to contact you via email if they are interested. <br>
Thank you for using this.props.</h2>