<div class="container w-100 p-3">
	<div class="row">
		<div class="col-6 text-center">
			<h6> <strong> House </strong> </h6>
		</div>
		<div class="col-3 text-center">
			<h6> <strong> Email </strong> </h6>
		</div>
		<div class="col-3"> 
		</div>
	</div>
	<div class="container w-100 p-3">
		<% @sellerbuyers .each do |sellerbuyer| %>
			<div class="row mb-3">
				<div class="col-6 text-center">
					<h6> <strong> <%= sellerbuyer.house.name %> </strong> <br/>  <%=sellerbuyer.house.location %> </h6>
				</div>
				<div class="col-3 text-center">
					<h6> <br/>
					<%= User.find(sellerbuyer[:user2]).email %> </h6>
				</div>
				<div class="col-3 text-center">
					<button type="button" class="btn btn-this-second"> <%= link_to 'Read Message', message_path(sellerbuyer.id) %></>
				</div>
			</div>
		<% end %>
	</div>
  </div>