<p id="notice"><%= notice %></p>


<!-- Filter Bar -->
<div>
  <button class="btn btn-primary" onclick="filter()" id="filter">Filter</button>
</div>
<!--The div element for the map -->
<div id="map"></div>

<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer
src=<%= "https://maps.googleapis.com/maps/api/js?key=&callback=initMap" %>>
</script>