// Place all the styles related to the Houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img{
	width: 400px;
	height: 340px;
}

.searchResults{
	float:right;
}

body > div > div > div > div:nth-child(1){
	background: #D3D3D3;
	padding: 30px;
}